<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

    <!-- Read file db.properties -->
    <context:property-placeholder location="classpath:chapter10/db.properties"/>

    <!-- Beans definitions go here -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--The maximum number of active connections that can be allocated from this pool at the same time, or negative for no limit.-->
        <property name="maxTotal" value="${jdbc.maxTotal}"/>
        <!--The maximum number of connections that can remain idle in the pool, without extra ones being released, or negative for no limit.-->
        <property name="maxIdle" value="${jdbc.Idle}"/>
        <!--The initial number of connections that are created when the pool is started.-->
        <property name="initialSize" value="${jdbc.initialSize}"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--Use annotation feature, register transaction manager.-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- The integration of MyBatis and Spring. -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:chapter10/integration/mybatis-config.xml"/>
    </bean>

    <bean id="customerDao" class="chapter10.integration.dao.impl.CustomerDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
</beans>