<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <!-- TODO: May occur error here. -->
        <package name="chapter10.integration"/>
    </typeAliases>

    <!-- If use MapperScannerConfigurer, then don't have to configure mappers -->
</configuration>