<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chapter06.mybatis_introduction.mapper.CustomerMapper">
    <select id="findCustomerById" parameterType="Integer" resultType="chapter06.mybatis_introduction.po.Customer">
        select *
        from t_customer
        where id = #{id}
    </select>

    <select id="findCustomerByName" parameterType="String" resultType="chapter06.mybatis_introduction.po.Customer">
        select *
        from t_customer
        where username like concat('%', #{username}, '%')
    </select>

    <insert id="addCustomer" parameterType="chapter06.mybatis_introduction.po.Customer">
        insert into t_customer (username, jobs, phone) value (#{username}, #{jobs}, #{phone})
    </insert>

    <update id="updateCustomer" parameterType="chapter06.mybatis_introduction.po.Customer">
        update t_customer
        set username = #{username}, jobs = #{jobs}, phone = #{phone}
        where id = #{id}
    </update>

    <delete id="deleteCustomer" parameterType="Integer">
        delete from t_customer
        where id = #{id}
    </delete>
</mapper>