<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Beans definitions go here -->

    <bean id="bean1" class="chapter02.scope.Bean1" scope="prototype"/>
    <bean id="bean2" class="chapter02.scope.Bean2" scope="prototype"/>
    <bean id="bean3" class="chapter02.scope.Bean3"/>

</beans>