<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Beans definitions go here -->

    <bean id="userDao" class="chapter01.dependency_injection.UserDaoImpl">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="userService" class="chapter01.dependency_injection.UserServiceImpl">
        <!-- collaborators and configuration for this bean go here -->
        <property name="userDao" ref="userDao"></property>
    </bean>

</beans>